<!DOCTYPE html>
<html>
    <head>
        <title>Verifikacija</title>
    </head>
    <body>
        <h1 id="msg">Verifikacija u toku...</h1>
        <script>
            const token = '{{ token }}';
            fetch('http://127.0.0.1:8000/dj-rest-auth/registration/verify-email/', {
		    method: 'POST', 
		    body: JSON.stringify({ key: token }), 
		    headers: {
		      'Accept': 'application/json',
		      'Content-Type': 'application/json'
		    }, 
	    	})
                .then(response => {
			document.querySelector('#msg').innerHTML = '<i>Uspešna verifikacija!</i>';
                    setTimeout(() => window.location.href = 'http://127.0.0.1:3000/', 1500);	
                })
                .catch(err => {
                    document.querySelector('#msg').innerHTML = 'Greška pri verifikaciji!';
                });
        </script>
    </body>
</html>
